layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane {
      pane size="80%" {
        name "zsh"
        focus true
      }
      pane size="20%" {
        command "nvim"
      }
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
