keybinds {
  normal {
    unbind "Ctrl h"
    unbind "Ctrl q"
    unbind "Ctrl o"
    bind "Ctrl y" { SwitchToMode "Move"; }
    bind "Ctrl e" { SwitchToMode "Session"; }
  }
  move {
    bind "y" { MovePane "Down"; MoveFocus "Up"; SwitchToMode "Normal"; }
  }
  pane {
    bind "N" { NewPane "Right"; SwitchToMode "Normal"; }
  }
}
